@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


.sidebar {
    box-sizing: border-box;
    width: 130px;
    height: 910px;
    margin-left: 55px;
    margin-top: 45px;
    background: #0C0B0B;
    border-radius: 20px;    
}


span {
    position: absolute;
    width: 51px;
    height: 102px;
    left: 100px;
    top: 58.65px;
    font-family: 'Baloo bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: #F1D5BB;
}


.sidebar .vector {
    box-sizing: border-box;
    position: absolute;
    left: 100px;
    top: 199px;
    bottom: 75.3px;
    color: #FFFFFF;
}


.cutlery {
    position: absolute;    
    left: 100px;
    right: 20px;
    top: 350px;
    background: #FFFFFF;
    width: 40px;
    height: 40px;
}


.box {    
    position: absolute;
    width: 40px;
    height: 122px;
    left: 53px;                                                  
    top: 450px;      
    background: #0C0B0B;   
}


.cart img {
    position: absolute;    
    left: 40px;
    right: 100px;
    top: 50px;
    bottom: 61%;
}


.sidebar .locate {
    position: absolute;    
    left: 100px; /*100*/
    right: 90px;
    top: 650px;
}


.sidebar .message {
    position: absolute;    
    left: 102px;
    right: 90px;
    top: 820px;
    color: #FFFFFF;
}


.menu-home h2 {
    position: absolute;
    width: 300px;
    height: 62px;
    left: 240px;
    top: 45px;
    font-weight: 400;
    font-family: 'mulish';
    font-style: normal;
    font-size: 50px;
    line-height: 62px;    
    color: #00;
}


/* first side */
.background {
    position: absolute;
    width: 608px;
    height: 608px;
    left: 244px;
    top: 135px;
    background: #F1D5BB;
    border-radius: 3px;
}


.elisp img {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 24px;
    top: 42px;
    border-radius: 100px;
}


.elisp-text .title {
    position: absolute;
    width: 162px;
    height: 31px;
    left: 130px;
    top: 51px;
    font-size: 24px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 600;
    color: #000000;    
}


.elisp-text .price {
    position: absolute;
    width: 65px;
    height: 25px;
    left: 130px;
    top: 91px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}


.neg {
    position: absolute;
    width: 15px;
    height: 28px;
    left: 440px;
    top: 71px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background: #F1D5BB; 
    border: none;      
}


.number {
    position: absolute;
    width: 40px;
    height: 35px;
    left: 460px;
    top: 66px;
    background: #FFFFFF;    
}


.number .label {
    position: absolute;
    width: 12px;
    height: 35px;
    left: 10px;
    top: 8px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;       
}


.pos {
    position: absolute;
    width: 15px;
    height: 28px;
    left: 505px;
    top: 71px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background: #F1D5BB;
    border: none;   
    
}


.cancel img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 560px;
    right: 52px;
    top: 75px;
    bottom: 77px;    
}


.elisp1 img {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 24px;
    top: 192px;
    border-radius: 100px;
}


.elisp1-text .title {
    position: absolute;
    width: 162px;
    height: 31px;
    left: 130px;
    top: 195px;
    font-size: 24px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 600;
    color: #000000;    
}


.elisp1-text .price {
    position: absolute;
    width: 65px;
    height: 25px;
    left: 130px;
    top: 241px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
} 


.neg1 {
    position: absolute;
    width: 15px;
    height: 28px;
    left: 440px;
    top: 208px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background: #F1D5BB;
    border: none;       
}


.number1 {
    position: absolute;
    width: 40px;
    height: 35px;
    left: 460px;
    top: 205px;
    background: #FFFFFF;    
}


.number1 .label {
    position: absolute;
    width: 12px;
    height: 35px;
    left: 10px;
    top: 8px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;       
}


.pos1 {
    position: absolute;
    width: 15px;
    height: 28px;
    left: 505px;
    top: 208px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background: #F1D5BB;    
    border: none;   
}


.cancel1 img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 560px;
    right: 52px;
    top: 213px;
    bottom: 77px;
}


.elisp2 img {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 24px;
    top: 342px;
    border-radius: 100px;
}


.elisp2-text .title {
    position: absolute;
    width: 162px;
    height: 31px;
    left: 130px;
    top: 349px;
    font-size: 24px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 600;
    color: #000000;    
}


.elisp2-text .price {
    position: absolute;
    width: 65px;
    height: 25px;
    left: 130px;
    top: 392px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
} 


.neg2 {
    position: absolute;
    width: 15px;
    height: 28px;
    left: 440px;
    top: 380px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background: #F1D5BB;
    border: none;       
}


.number2 {
    position: absolute;
    width: 40px;
    height: 35px;
    left: 460px;
    top: 375px;
    background: #FFFFFF;    
}


.number2 .label {
    position: absolute;
    width: 12px;
    height: 35px;
    left: 10px;
    top: 8px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;       
}


.pos2 {
    position: absolute;
    width: 15px;
    height: 28px;
    left: 505px;
    top: 380px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background: #F1D5BB;    
    border: none;  
}


.cancel2 img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 560px;
    right: 52px;
    top: 385px;
    bottom: 77px;
}


.elisp3 img {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 24px;
    top: 492px;
    border-radius: 100px;
}


.elisp3-text .title {
    position: absolute;
    width: 162px;
    height: 31px;
    left: 130px;
    top: 492px;
    font-size: 24px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 600;
    color: #000000;
}


.elisp3-text .price {
    position: absolute;
    width: 65px;
    height: 25px;
    left: 130px;
    top: 562px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
} 


.neg3 {
    position: absolute;
    width: 15px;
    height: 28px;
    left: 440px;
    top: 540px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background: #F1D5BB;
    border: none;       
}


.number3 {
    position: absolute;
    width: 40px;
    height: 35px;
    left: 460px;
    top: 535px;
    background: #FFFFFF;    
}


.number3 .label {
    position: absolute;
    width: 12px;
    height: 35px;
    left: 10px;
    top: 8px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;       
}


.pos3 {
    position: absolute;
    width: 15px;
    height: 28px;
    left: 505px;
    top: 540px;
    font-size: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background: #F1D5BB;    
    border: none;   
}


.cancel3 img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 560px;
    right: 52px;
    top: 545px;
    bottom: 77px;
}



/* second side */
.background1 {
    position: absolute;
    width: 443px;
    height: 286px;
    left: 893px;
    top: 135px;
    background: #F1D5BB;
    border-radius: 3px;
}


.Sub {
    position: absolute;
    width: 249px;
    height: 50px;
    left: 43px;
    top: 15px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
}



.sub {
    position: absolute;
    width: 118px;
    height: 38px;
    left: 43px;
    top: 95px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
}



.sub-p {
    position: absolute;
    width: 97px;
    height: 38px;
    left: 185px;
    top: 95px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
}



.btn {
    position: absolute;
    width: 365px;
    height: 78px;
    left: 43px;
    top: 180px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    background: #000000;   
}



.btn .order {
    position: absolute;
    width: 197px;
    height: 38px;
    left: 85px;
    top: 20px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;       
}


.background2 {
    position: absolute;
    width: 443px;
    height: 326px;
    left: 893px;
    top: 417px;
    background: #FFF;
    border: 1px solid #F1D5BB;
    border-radius: 3px;
}



.promo {
    position: absolute;
    width: 227px;
    height: 50px;
    left: 43px;
    top: 30px;
    font-family: 'mulish';
    font-size: 40px;
    font-weight: 400;
    font-style: normal;    
    color: #000;
}


.ent {
    position: absolute;
    width: 366px;
    height: 78px;
    left: 43px;
    top: 90px;
    font-family: 'mulish';
    font-style: normal;
    font-size: 30px;
    font-weight: 200;
    border: 1px solid #F1D5BB;
    background: transparent;    
}


.ent:focus {
    outline: none;
}


#apply {
    position: absolute;
    width: 166px;
    height: 78px;
    left: 43px;
    top: 210px;
    background: #000000;
}



#apy {
    position: absolute;
    width: 82px;
    height: 38px;
    left: 45px;
    top: 21px;
    color: #fff;
    font-family: 'mulish';
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
}



footer {
    position: absolute;
    width: 258px;
    height: 19px;
    left: 244px;
    top: 990px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #000;
}